<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.strictteach.mapper.SCMapper">
    <insert id="insert">
        insert into sc(id,subject,name,grade)
        values(#{id},#{subject},#{name},#{grade})
    </insert>
    <update id="update">
        update sc set id=#{id},subject=#{subject},name=#{name},grade=#{grade}
                           where id=#{id}
    </update>
    <delete id="delete">
        delete from sc where id=#{id}
    </delete>
    <select id="selectAll" resultType="com.web.strictteach.pojo.SC">
        select * from sc
        <where>
            <if test="name != null">name  like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>


</mapper>